
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

body { margin: 2em; padding: 0; background: #fff; }
body, input, textarea, select { font-size: 16px; font-family: -apple-system, Arial, Helvetica, sans-serif; }
input[type=text], input[type=number], input[type=email], textarea, select { width: 20em; padding: 0.3em 0.5em; border: 1px solid #ccc; border-radius: 4px; }
textarea { height: 4.2em; }
textarea.code { width: 100%; font-size: 0.8em; height: 15em; }

h1, h2, h3 { text-transform: uppercase; font-family: 'Heebo', -apple-system, Arial, Helvetica, sans-serif; }
h1 { font-size: 30px; font-weight: 400; letter-spacing: 2; }
h2 { font-size: 20px; font-weight: 700; letter-spacing: 2; }
h3 { font-size: 16px; font-weight: 700; letter-spacing: 1; }

fieldset { border: 0; padding: 0; margin: 0.5em 0; }
fieldset > label { vertical-align: top; display: inline-block; width: 5em; padding: 0.5em 0; }
fieldset > input,
fieldset > textarea { vertical-align: top; }
fieldset > select { vertical-align: top; margin: 0.5em 0; }
fieldset > .input { vertical-align: top; display: inline-block; padding: 0.4em 0; }
fieldset > .input input,
fieldset > .input textarea { vertical-align: middle; }

.previewContainer { padding: 2em; border: 1px solid #ccc; border-radius: 4px; }

.instructionPanel { display: none; }
.instructionPanel.default { display: block; }
.instructionPanel ol { line-height: 1.5em; }
.instructionPanel ol em { display: inline-block; font-style: normal; border: 1px solid; padding: 0.1em 0.3em; line-height: 1.2em; margin: 0.2em 0; border-radius: 4px; border-color: rgb(255, 190, 10); background-color: rgba(255, 190, 10, 0.15); }
.instructionPanel ol img { width: 600px; max-width: 100%; margin: 1em 0; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
